###### Traffic prediction is a critical component of modern urban planning and intelligent transportation systems, helping city planners optimize traffic flow, reduce congestion, and make data-driven infrastructure decisions. In this project, we’ll analyze traffic data to identify patterns, correlations, and factors that influence traffic volume across different time periods. For this purpose, you’ll use Python modules to make these predictions.

In [2]:
import os
import numpy as np
import torch
import pandas as pd

In [3]:
torch.rand(2,3)

tensor([[0.1968, 0.2653, 0.1908],
        [0.3046, 0.6726, 0.5957]])

In this data-driven project, we aim to predict traffic volume on a given roadway by leveraging machine learning techniques and various environmental factors.

First, we’ll preprocess the data, address the missing values, and convert categorical variables into numerical representations for seamless processing. Next, we’ll harness the visualization capabilities of seaborn to gain valuable insights into the data. We’ll utilize historical data, including date and time, weather conditions, and holidays, to predict the traffic volume on the roads. We’ll employ three regression models: linear regression, decision tree regressor, and random forest regressor. Finally, we’ll save all three models using joblib for future deployment, allowing us to make real-time traffic volume predictions.

In [4]:
data =  pd.read_csv('data.csv')
data.head()

,traffic_volume,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time
0,5545,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,02-10-2012 09:00
1,4516,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,02-10-2012 10:00
2,4767,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,02-10-2012 11:00
3,5026,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,02-10-2012 12:00
4,4918,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,02-10-2012 13:00

In [8]:
data.size

433836

### remove duplicate values